__pycache__/app.cpython-311.pyc
__pycache__/app.cpython-312.pyc
__pycache__/app.cpython-313.pyc
__pycache__/gemini_service.cpython-311.pyc
__pycache__/gemini_service.cpython-312.pyc
__pycache__/vocabulary_service.cpython-311.pyc
__pycache__/vocabulary_service.cpython-312.pyc
desktop.ini
gemini_api_key.txt
start_flask.bat